@import url("https://fonts.googleapis.com/css2?family= lato");
@import url("https://fonts.googleapis.com/css2?family= poppin");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'oswald';
  font-weight: 700;
} */
article,
aside,
figure,
section,
div,
main,
nav,
footer,
header {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red;      */
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row {
  /* padding: 15px 0px; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* .row div {
  border: 1px solid blue;
} */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-0 {
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
  max-width: 0%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .col-xsm-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col-xsm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xsm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xsm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xsm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xsm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xsm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xsm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xsm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xsm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xsm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xsm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xsm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-1 {
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  width: 8.3333333333%;
}

.col-2 {
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  width: 16.6666666667%;
}

.col-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  width: 25%;
}

.col-4 {
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  width: 33.3333333333%;
}

.col-5 {
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  width: 41.6666666667%;
}

.col-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  width: 50%;
}

.col-7 {
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  width: 58.3333333333%;
}

.col-8 {
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  width: 66.6666666667%;
}

.col-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  width: 75%;
}

.col-10 {
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  width: 83.3333333333%;
}

.col-11 {
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  width: 91.6666666667%;
}

.col-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  width: 100%;
}

.order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 8;
  -moz-box-ordinal-group: 8;
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 9;
  -moz-box-ordinal-group: 9;
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 10;
  -moz-box-ordinal-group: 10;
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 11;
  -moz-box-ordinal-group: 11;
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}

@media (min-width: 0px) {
  .order-xs-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-xs-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-xs-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-xs-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-xs-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-xs-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-xs-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-xs-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-xs-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-xs-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-xs-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 576px) {
  .order-sm-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 768px) {
  .order-md-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 992px) {
  .order-lg-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 1200px) {
  .order-xl-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 1400px) {
  .order-xxl-1 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-xxl-2 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-xxl-3 {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-xxl-4 {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-xxl-5 {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-xxl-6 {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-xxl-7 {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-xxl-8 {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-xxl-9 {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-xxl-10 {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-xxl-11 {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
}
@media (min-width: 0px) {
  .container {
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
@media (min-width: 576px) {
  .container {
    width: 100%;
    max-width: 576px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 992px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    position: relative;
    padding: 0px 15px;
    border: 1px solid black;
    margin: auto;
  }
}
header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
header nav .left .logo {
  height: 80px;
}
header nav .left .logo img {
  height: 100%;
}
header nav .right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
header nav .right ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
header nav .right ul li {
  margin: 15px;
}
header nav .right ul li a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  border: 1px solid white;
  border-radius: 50px;
  text-transform: uppercase;
}
header nav .right ul li a:hover {
  border: 1px solid #4cb050;
}

.common_card {
  border-top: 2px solid #4cb050;
  padding: 15px;
  box-shadow: 0px 0px 10px rgb(129, 117, 117);
}

main .section_wrapper .left {
  text-align: center;
}
main .section_wrapper .left .profile_img div {
  display: inline-block;
  border-radius: 50%;
}
main .section_wrapper .left .profile_img .circle_1 {
  border: 4px solid #4cb050;
}
main .section_wrapper .left .profile_img .circle_1 .circle_2 {
  border: 20px solid #ffffff;
}
main .section_wrapper .left .profile_img .circle_1 .circle_2 .circle_3 {
  border: 15px solid #00a652;
}
main .section_wrapper .left .profile_img .circle_1 .circle_2 .circle_3 .circle_4 {
  border: 20px solid #4cb050;
}
main .section_wrapper .left .profile_img .circle_1 .circle_2 .circle_3 .circle_4 img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
main .section_wrapper .left .profil_info h1 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: bold;
  color: #00a652;
  font-family: "Poppins", sans-serif;
}
main .section_wrapper .left .profil_info h2 {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  color: #404040;
}
main .section_wrapper .right .profil_info h2 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
